body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding: 0 5em;
    text-align: center;
}

section{
    margin: 0;
    width: 100%
}

.landing-page{
    display: flex;
    flex-direction: column;
}

.landing-page-form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

