/* main elements */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Sourcs Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* typography */
h1{
    /* margin-top: 0; */
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

h1 + p{
    color: #f18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2{
    font-size: 1.3125;
    margin: 0;
}

h2 + p{
    font-weight: 900;
    font-size: 1rem;
    color:#f18119;
    text-transform: uppercase;
    margin-top: 0;
}

.top-text{
    font-size: 0.625rem;
    font-weight: 900;
    color:#f18119;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    order: -4
}

.fine-print{
    font-size: 0.625rem;
    letter-spacing: 1.2px
}

strong {
    font-weight: 900
}



/********* layout ************/


/* intro section */

.intro{
    background-color: #404040;
    background-image: url("../images/bbq-ribs.jpg");
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em;
    
}



.container{
    max-width: 400px;
    margin: 0 auto;

}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}


/* main section */

.main-content{
    padding: 2em 1em;
}





/* media query */

@media (min-width: 500px){

    body{
        font-size: 1.125rem;
        display: flex;
    }

    h1{
        font-size: 3.5rem;
    }

    h2,
    h1+p{
        font-size: 1.75rem;
    }
    
    .intro,
    .main-content{
        width: 50%;
        min-height: 100vh;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-intro{
        height: 100%;
    }
}